@font-face {
  font-family: "Scrabble";
  src: url(src/scramble-font/Scramble-KVBe.ttf);
}

h1 {
  text-align: center;
  font-family: "Scrabble", sans-serif;
  font-size: 70px;
}

p {
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
  font-size: 40px;
}

p i {
  color: firebrick;
}

footer {
  font-family: "Bebas Neue", sans-serif;
  font-size: 15px;
  position: fixed;
  left: 10px;
  bottom: 10px;
  height: 30px;
  width: 100%;
}
